

h1 {
    color: White;
    font-weight: 800;
}

team {
    font-weight: 800;
    color: #00853e;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0em;
    line-height: 1.37em;
    text-transform: none;
}


product {
    font-weight: 800;
    color: white;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0em;
    line-height: 1.37em;
    text-transform: none;
}

h2 {
    font-size : 25px;
	text-align: center;
}

h4 {
    color: #00853e;
    width: 1250px; margin: 0 auto;
}


h3 {
	font-size : 20px;
	text-align: center;
	}
	
p {
    font-weight: bold;
    color: #00853e;
	font-size : 20px;
	text-align: left;
	}

.leaflet-grab {
    cursor: crosshair;
}

.noUi-horizontal {
	width : 400px;
}

#About {padding-top:50px;height:500px; }
#Contact {padding-top:50px;height:250px;}

.page-section {
	width: 100%;
    bottom:0;
	padding: 35px 0;
	border-bottom: 10px solid #fff;
    background-color:  #00853e;
}

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 100px;
    
}
footer {
    padding: 30px 0;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
    color:  #00853e !important;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
    
}

.navbar-brand.fixed-theme {
    font-size: 18px;
    
    
}

.nav a{
    color:  #00853e !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    font-family:"Arial Black", Gadget, sans-serif !important;
    }

.navbar-container.fixed-theme {
    padding: 0;
    
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}



.navbar-default .navbar-nav > .active > .hover >a{
    color: #fff !important;
    background-color:  #00853e !important;
    border-radius: 10px 10px 10px 10px;
   
}


.topspacing{
    
     margin-top: -60px;
    
}



#Contact {
                background-color: rgb(238, 238, 238);
                margin-bottom: -185px;

               
            }

#about {
    padding:0; margin:0;
}

.center-role-form {
    width: fit-content;
    text-align: center;
    margin: 1em auto;
}

div.static {
    position: static;
    border: 3px solid #73AD21;
}

.d {
    margin: auto;
    width: 95%;
    padding: 10px;
}


.p {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.d1 {
    margin: auto;
    width: 95%;
    padding: 10px;
}




html, body{height: 100%;}
            
.video-section {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
            }
#video-elem {
             /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
                
            }
video::-webkit-media-controls {
        display:none !important;
            }
.navbar-default { margin : 0 !important; }


p {
    text-align: center;
}



  #overlay2 {
  position: absolute; 
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color:#ef3125;
  color: #ef3125; 
  text-align: center;
  border-width: medium;      
  font-size: 25px;
  background-color: transparent;
  height:60px;
  width: 300px;
  margin:auto;
  display:block;
  padding: 10px 0;
  z-index: 2147483647;
  font-weight: 900;      
}


  #overlay {
  position: absolute; 
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color:#00853e;
  color: #00853e; 
  text-align: center;
  border-width: medium;      
  font-size: 25px;
  background-color: transparent;
  height:60px;
  width: 300px;
  margin:auto;
  display:block;
  padding: 10px 0;
  z-index: 2147483647;
  font-weight: 900;      
}


  .padding-0{
    padding-right:0;
    padding-left:0;
}

#rig {
    max-width:900px;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:white;
}

#prow {
    max-width:2000px;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:white;
}



#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        


#prow li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:20%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}


/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}



/* The wrapper for each item */
.prow-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

.prow-img {
    display:block;
    width: 100%;
    height: 235px;
    border:none;
    transform:scale(1);
    transition:all 1s;
}


#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}

@media (max-width: 9000px) {
    #prow li {
        width:20%;
    }
}

@media (max-width: 700px) {
    #prow li {
        width:33.33%;   
    }
}

@media (max-width: 550px) {
    #prow li {
        width:50%;
    }
}



* {
    box-sizing: border-box;
}


i:hover { /*For facebooklogo*/
 cursor:pointer;
}
